.footer ul {
    
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 25px;
        
}




.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.footer a {
    color: aliceblue !important;
}

.footer p {
    margin: 25px;
}

.footer li {
    margin-left: 10px;
}