.btn{
    background:transparent;
    color: aliceblue;
    border: 2px solid aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;

}
.btn:hover{
    color: aliceblue;
    background-color:aqua ;
    transition-duration: 0.5s;
    transform: translateY(-7px);
}